<!DOCTYPE html>
<html>
<head>
  <title>Shopping Cart</title>
  <link rel="stylesheet" type="text/css" href="../css/qunit-1.14.0.css">
  <script type="text/javascript" src="../js/lib/qunit-1.14.0.js"></script>
  <script type="text/javascript" src="../js/total.js"></script>
  <script type="text/javascript" src="../js/tests/unit-test.js"></script>

</head>

<body>

<div id="qunit"></div>
<br>
<a href="/"><< Return To App</a>

</body>

</html>
