h3{
  margin-bottom:5px;
}

#summaryDiv{
  text-align:center;
}

#saveButton{
  height:40px;
  width:120px;
  background-color:#6912FF;
  margin:0 auto 0 auto;
}
#saveButton:hover{
  background-color:#6900AA;
}

.saveButton{
  text-decoration:none;
  line-height:40px;
  text-align:center;
  color:#FFF;
}

#showMyQuotesButton{
  height:40px;
  width:130px;
  background-color:#FA6900;
  margin:0 auto 0 auto;
}
#showMyQuotesButton:hover{
  background-color:#CC6900;
}

.showMyQuotesButton{
  text-decoration:none;
  line-height:40px;
  text-align:center;
  color:#FFF;
}

.quoteItem{
  border:solid 1px #000;
}
